@import "tailwindcss";

:root {
  --color-portal-green: #00ff9d;   /* Botones, enlaces activos */
  --color-toxic-purple: #8e44ad;   /* Headers, acentos visuales */
  --color-plasma-blue:  #3498db;   /* Backgrounds secundarios */
  --color-dark-matter:  #1e1e2f;   /* Fondo principal */
  --color-cyber-yellow: #f1c40f;   /* Highlights, estados */  
}

@theme inline {
  --color-toxic-purple: #8e44ad;
  --color-toxic: #00ff9d;
  --color-dark-matter:  #1e1e2f;
  --font-rickMorty: 'fontMorty', sans-serif;
}


@font-face {
  font-family: 'fontMorty';
  src: url('/fonts/rickMorty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-dark-matter);
}


.hero {
  background-image: repeating-linear-gradient(113deg, rgb(30,30,47) 0px, rgb(30,30,47) 23px,transparent 23px, transparent 25px),repeating-linear-gradient(64deg, rgb(30,30,47) 0px, rgb(30,30,47) 23px,transparent 23px, transparent 25px),repeating-linear-gradient(330deg, rgb(30,30,47) 0px, rgb(30,30,47) 23px,transparent 23px, transparent 25px),linear-gradient(90deg, rgb(241,196,15),rgb(142,68,173));
}